body{
    background-color: #f4f4f4;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 0px;
}

h1{
    margin: 0px;
}

td{
    border: #000000 solid 1px;
}

/*Classes*/
.highlight{
    color: #FF0000;
}

.reset{
    clear: both;
}

/*ID's*/
#pageContainer{
    width: 1111px;
    margin: 0px auto 0px auto;
    background-color: #ffffff;
}

#navigation{
    background-color: #ba5252ff;
}

#navigation a{
    text-decoration: none;
    background-color: #8a2121;
    color: #ffffff;
    padding: 10px 10px 10px 10px;
    margin: 0px 20px 0px 0px;
    display: block;
    float: left;
}

#navigation a:hover{
    background-color: #9a1c1c;
}

/*Introduction*/
#mainHeading{
    color: #8f3030;
}

#introText{
    width: 812px;
    float: left;
    margin: 20px 0px 0px 93px;
}

#profilePicture{
    float: left;
    margin: 20px 0px 46px 0px;
}


/*Hobbies*/
#hobbyText{
    width: 576px;
    float: left;
}

#heroShot{
    float: left;
    margin: 0px 0px 0px 81px;
    border-radius: 4px;
}

/*Meme*/
#funnyImage{
    float: left;
    margin: 42px 0px 20px 0px;
}

/*Socials*/
#socials{
    width: 419px;
    float: left;
    background-color: #c6c6c6;
    margin: 206px 0px 0px 439px;
    padding: 6px 4px 6px 4px;
}

#socials img{
    margin: 6px 26px 0px 26px;
}