body{
    background-color: #f4f4f4;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 0px;
}

h1{
    margin: 0px;
}

#mainHeading {
    color: #8f3030;
}

.highlight{
    color: #FF0000;
}

#introText{
    width: 812px;
    float: left;
    margin: 20px 0px 0px 93px;
}

#profilePicture{
    float: left;
    margin: 20px 0px 46px 0px;
}

.reset{
    clear: both;
}

#hobbyText{
    width: 576px;
    float: left;
}

#heroShot{
    float: left;
    margin: 0px 0px 0px 81px;
}

#funnyImage{
    float: left;
    margin: 42px 0px 20px 0px;
}

#socials{
    width: 419px;
    float: left;
    background-color: #c6c6c6;
    margin: 206px 0px 0px 439px;
}

#instagramPic{
    margin: 5px 0px 0px 8px;
}

#youtubePic{
    margin: 0px 72px 0px 72px;
}

#pageContainer{
    width: 1111px;
    margin: 0px auto 0px auto;
}