body{
    background-color: #f4f4f4;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#mainHeading {
    color: #8f3030;
}

.highlight{
    color: #FF0000;
}

#introText{
    width: 812px;
    float: left;
}

#profilePicture{
    float: left;
}

.reset{
    clear: both;
}

#hobbyText{
    width: 576px;
    float: left;
}

#heroShot{
    float: left;
}

#funnyImage{
    float: left;
}

#socials{
    width: 419px;
    float: left;
    background-color: #c6c6c6;
}